<app-navbar></app-navbar>
<div id="body">
      <div class="row">

          <div class="col-md-4"></div>
          <div class="col-md-6">
            <form (ngSubmit)="sendMail(f)" #f="ngForm">
               <table class="mymodel">
                  <thead>
                    <tr>
                      <th scope="col">Reset Password</th>
                    </tr>
                   </thead>
                   <tbody>
                      <tr>
                        <td> 
                          <p> 	
                              Please enter your email address to send you your password.
                          </p>
                          <input class="form-control form-control-sm" type="email" placeholder=""  name="mail" ngModel>
                        </td>     
                      </tr>
                      <tr >
                          <button type="button" class="btn btn-primary btn-sm" style="margin-right:10px; margin-top:15px;" type="submit">send mail</button>
                          <button type="button" class="btn btn-primary btn-sm" style="margin-top:15px;"routerLink="/login">Cancel</button>
                       </tr>
                     </tbody>
              </table>
            </form>
          </div>
         
        </div>
    
</div>
<app-footer></app-footer>
