<app-navbar></app-navbar>


<div *ngIf="restaurantDetails" class="container">
	<div class="row">
		<div class="col-lg-8">
			<h1 style="text-align: center;margin-top: 20%;">{{restaurantDetails[0]['title']}}</h1>
			<hr class="line">
		</div>
		<div class="col-lg-4">
		</div>
	</div>
	<div class="row" style="margin-top: 2%;margin-bottom: 2%;">
		<div class="col-lg-6">
			<img style="width: 500px;height: 300px" src="{{restaurantDetails[0]['photo']}}">
		</div>
		<div class="col-lg-6">
			<p style="margin-top: 10%;"><b>{{restaurantDetails[0]['region']}}</b>, &nbsp; {{restaurantDetails[0]['rating']}}</p>
			<p> <span>Phone</span> : {{restaurantDetails[0]['phone']}}</p>
			<p> <span>Address</span> : {{restaurantDetails[0]['location']}}</p>
			<p> <span>Cuisine</span> : {{restaurantDetails[0]['cuisine']}}</p>
			<div class="col text-center">
				<!-- <app-booking></app-booking> -->
			</div>
		</div>
		
	</div>
</div>
<br><br>
<app-review></app-review>

<app-footer></app-footer>
