.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

form{
    max-width: 500px;
    border-color: #f0eeee;
    border-style: solid;
    padding: 5%;
}
.post{
    /* border-style: solid; */
    /* border-color: rgb(192, 189, 189); */
    margin: 2%;
    padding: 3%;
    width: 700px;
    
}
::selection {
    background: #9cceeb; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #97cbe9; /* Gecko Browsers */
}
h3{
    color: #454444;
    text-align: center;
}
.line{
    width: 60px;
    background-color: rgb(204, 197, 197);
    text-align: center;
}
.dislike{
    border-style: solid;
    border-color: rgb(232, 236, 236);
    background-color: white;
}
.dislike:hover{
    background-color: rgb(232, 236, 236); 
}
img{
    position: relative;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
  }