body {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}
.ca

.card {
    margin-top: 15px;
}

.card-body {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.cardBtn {
    justify-content: flex-end;
}

#wrap {
    width: 50%;
}

.card-text{
 max-height: 120px;
  position: relative;
  overflow: hidden;
}

#external-events {
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 5px 0px 0px 0px;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

#external-events .fc-event span {
    height: 100%;
}

#planner {
    margin-top: 25px;
}


/*
  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }
  
  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }*/

#calendar {
    float: right;
    width: 900px;
}

.mb-20 {
    margin-bottom: 20px;
}