<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let trip of trips">
            <div class="col d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{trip['imageURL']}}" alt="Card image cap">
                        <h5 class="card-title">{{trip['name']}}</h5>
                        <div class="card-text">
                        <p>{{trip['duration']}}</p>
                        <p>{{trip['price']}}</p>
                        </div>
                        <button class="btn btn-primary cardBtn">Read More</button>
                        <button class="btn btn-primary cardBtn" *ngIf="!trip['selected']" (click)="trip['selected']=1">ADD</button>
                        <button class="btn btn-danger cardBtn" *ngIf="trip['selected']" [disabled]="trip['addedCal']" (click)="trip['selected']=0">REMOVE</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div  class="container" id="planner" >
    <div class="row">
        <div id='wrap' class="col-4">
            <div id="external-events">
                <div id='external-events-listing'>
                    <h4>Draggable Events</h4>
                    <div class="fc-event" *ngFor="let trip of trips; let i= index" [id]="trip['name'] +','+ i"  [hidden]="!trip['selected']">{{trip['name']}}</div>
                </div>
                <p>
                    <input hidden type='checkbox' id='drop-remove' checked='!checked' />
                </p>
            </div>
        </div>
        <div class="col-8" id="calenderDiv">
            <div id='calendar1'></div>
        </div>
    </div>
</div>