<app-navbar></app-navbar>
<div id="container">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="trips"
      [width]="850"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>
   
   
    <ng-template #prev>
      <img src="assets/images/left.png" id="left" />
    </ng-template>
    <ng-template #next>
      <img src="assets/images/right.png" id="right" />
    </ng-template>
    <ng-template #item let-item let-i="index">
   
    <div class="slide-items">
                        <img src="{{item.imageURL}}">
                   <!-- <p> <b>{{item.title}} </b></p> -->
                   <p><b>{{item.title?item.title:"Trip"}}</b></p>
                   <p> price :{{item.price}} </p>
                   <p> Duration : {{item.duration}} </p>
        <button class="btn btn-primary cardBtn" [routerLink] = "['/trips/',item.itemid]">Read More</button>

        <button class="btn btn-primary cardBtn" *ngIf="!item.selected" (click)="item.selected=1">ADD</button>
        <button class="btn btn-danger cardBtn" *ngIf="item.selected" [disabled]="item.addedCal" (click)="item.selected=0">REMOVE</button>
    </div>
   
  </ng-template>
<!-- <div class="container">
    <div class="row">
        <ng-container *ngFor="let trip of trips">
            <div class="col d-flex align-items-stretch">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{trip['imageURL']}}" alt="Card image cap">
                        <h5 class="card-title">{{trip['name']}}</h5>
                        <div class="card-text">
                        <p>{{trip['duration']}}</p>
                        <p>{{trip['price']}}</p>
                        </div>
                        <button class="btn btn-primary cardBtn">Read More</button>
                        <button class="btn btn-primary cardBtn" *ngIf="!trip['selected']" (click)="trip['selected']=1">ADD</button>
                        <button class="btn btn-danger cardBtn" *ngIf="trip['selected']" [disabled]="trip['addedCal']" (click)="trip['selected']=0">REMOVE</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div> -->

<div  class="container" id="planner" >
    <div class="row">
        <div id='wrap' class="col-4">
            <div id="external-events">
                <div id='external-events-listing'>
                    <h4>Draggable Events</h4>
                    <div class="fc-event" *ngFor="let trip of trips; let i= index" [id]="trip['title'] +','+ i"  [hidden]="!trip['selected']">{{trip['title']}}</div>
                </div>
                <p>
                    <input hidden type='checkbox' id='drop-remove' checked='!checked' />
                </p>
            </div>
        </div>
        <div class="col-8" id="calenderDiv">
            <div id='calendar1'></div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="save()">save</button>
</div>

<app-footer></app-footer>
