
<!-- **************************************************** -->
<h2>Previous Reviews</h2>
<ngb-rating [(rate)]="currentRate">
  <ng-template let-fill="fill" let-index="index">
    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
  </ng-template>
</ngb-rating>
<hr>
<pre>Rate: <b>{{currentRate}}</b></pre>

<div class="card" style="width: 18rem;" *ngFor="let review of reviews">
  <img class="card-img-top" src="{{review.photo}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{review.title}}</h5>
    <p class="card-text">{{review.body}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Type : {{review.type}}</li>
    <li class="list-group-item">Date : {{review.date}}</li>
    <li class="list-group-item">Rate :{{review.rate}}</li>
  </ul>
</div>


<h2>Write Your Review</h2>
  <!-- end of rating stars -->
<form (submit)="review(ReviewForm)" #ReviewForm="ngForm">
  <div class="form-group">
    <label>rate</label>
    <ngb-rating name="rate" ngModel>
  <ng-template let-fill="fill" let-index="index">
    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
  </ng-template>
</ngb-rating>
  </div>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Enter Title" name="title" ngModel #titleInput="ngModel" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Body</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body" ngModel #bodyInput="ngModel" required></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Add photo Link</label>
    <input type="text" class="form-control" placeholder="Enter Link" name="photo" ngModel #photoInput="ngModel" required>
  </div>
  <div class="form-group">
      <label for="exampleFormControlSelect1">Company Type</label>
      <select class="form-control" id="exampleFormControlSelect1" name="type" ngModel #typeInput="ngModel" required>
        <option>Solo</option>
        <option>Family</option>
        <option>Friends</option>
        <option>Couple</option>
        <option>Work</option>
      </select>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
