<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="container-gallery">
      <div class="popup popup-1">
          <img class="img-fluid" alt="Pop Up Gallety" src="./../../../assets/images/fresh-appetizers-cocktails.jpg" />
      </div>
      <div class="popup popup-2">
          <img class="img-fluid" alt="Pop Up Gallety" src="./../../../assets/images/hot-fresh-donut.jpg" />
      </div>
      <div class="popup popup-3">
          <img class="img-fluid" alt="Pop Up Gallety" src="./../../../assets/images/hotel-room-service-classic-breakfast.jpg" />
      </div>
      <div class="popup popup-4">
          <img class="img-fluid" alt="Pop Up Gallety" src="./../../../assets/images/restaurant-breakfast.jpg" />
      </div>
      <div class="popup popup-5">
          <img class="img-fluid" alt="Pop Up Gallety" src="./../../../assets/images/waffles-and-fruit-breakfast.jpg" />
      </div>
    </div>
  </div>
</div>

  <hr>
<div *ngIf="loggedin">
<h2>Recommended For You</h2>
<!-- slider -->
<div id="container">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="recommendedRestaurants"
      [width]="850"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>
    <ng-template #prev>
      <img src="assets/images/left.png" id="left" />
    </ng-template>
    <ng-template #next>
      <img src="assets/images/right.png" id="right" />
    </ng-template>
    <ng-template #item let-item let-i="index">
   
    <div class="slide-items">
            <div class="frame">
                <img src="{{item.photo}}">
            </div>
            <div class="frameTitle">
                <p><i style="color:rgb(240, 180, 52);" class="fa fa-star" aria-hidden="true"></i>&nbsp;<b> {{item.title}} </b></p>
            </div>
            <div class="components" style="height:150px">
                <p><b>{{item.region}}</b>,&nbsp; {{item.rating}} </p>
                <p><span class="inCard">Cuisine:</span> {{item.cuisine}} </p>
            </div>
        <button class="btn section-button"  [routerLink] = "['/restaurants/',item.itemid]" [queryParams]="{q:item.title}">Read More</button>
     </div>
  </ng-template>
</div>
<hr>
</div>


<!-- All Restaurants -->
<h2>Available Restaurants</h2>
<hr class="line">
<br>
<div style="margin-left: 20%;">
    <input class="search col-3" name="search" [(ngModel)]="search" placeholder="Search.."> 
    <span class="col-3" style="display:in-line;">&nbsp;&nbsp;</span>       
    <select id="region" [(ngModel)]="region" class="custom-select col-3">
        <option value="Cairo">Cairo</option>
        <option value="Hurghada">Hurghada</option>
        <option value="Marsa Alam">Marsa Alam</option>
        <option value="Luxor">Luxor</option>
        <option value="Alexandria">Alexandria</option>
        <option value="Dahab">Dahab</option>
        <option value="Marsa Matruh">Marsa Matruh</option>
        <option value="Giza">Giza</option>
        <option value="" >All</option>
    </select>
    <span class="col-3" style="display:in-line;color: dimgrey;">Filter By Region</span>
    <br><br>
     <button (click)="getallMostPopular()" class="btn section-button">sort By Most Popular</button>
    <button (click)="getallLeastPopular()" class="btn section-button">sort By Least Popular</button>
</div>

<div *ngIf="restaurants && !allLeastPopular && !allMostPopular" class="row">
    <div class="col-lg-3 col-md-4 col-12" *ngFor="let restaurant of restaurants | Rfilter: 'title' | filter : search : ['title'] | filter : region : ['region'] | paginate: { itemsPerPage: 12, currentPage: p }">
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <div class="frame">
                        <img class="img-fluid imgSize" style="height: 170px;" src="{{restaurant['photo']?restaurant['photo']:default}}" alt="NO IMAGE AVAILABLE">              
                    </div>
                    <div class="frameTitle">
                    <h5 class="card-title">{{restaurant['title']}}</h5>
                    </div>
                    <div class="card-text components">
                        <p><b>{{restaurant['region']}}</b>, &nbsp;{{restaurant['rating']}}</p>
                        <p><span class="inCard">Cuisine : </span>{{restaurant['cuisine']}}</p>
                    </div>
                    <button [routerLink] = "['/restaurants/',restaurant.itemid]" [queryParams]="{q:restaurant['title']}" class="btn section-button">More Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="restaurantsgetallMostPopular && !allLeastPopular && allMostPopular" class="row">
    <div class="col-lg-3 col-md-4 col-12" *ngFor="let restaurant of restaurantsgetallMostPopular | Rfilter: 'title' | filter : search : ['title'] | filter : region : ['region'] | paginate: { itemsPerPage: 12, currentPage: p }">
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <div class="frame">
                        <img class="img-fluid imgSize" style="height: 170px;" src="{{restaurant['photo']?restaurant['photo']:default}}" alt="NO IMAGE AVAILABLE">              
                    </div>
                    <div class="frameTitle">
                    <h5 class="card-title">{{restaurant['title']}}</h5>
                    </div>
                    <div class="card-text components">
                        <p><b>{{restaurant['region']}}</b>, &nbsp;{{restaurant['rating']}}</p>
                        <p><span class="inCard">Cuisine : </span>{{restaurant['cuisine']}}</p>
                    </div>
                    <button [routerLink] = "['/restaurants/',restaurant.itemid]" [queryParams]="{q:restaurant['title']}" class="btn section-button">More Details</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="restaurantsgetallLeastPopular && allLeastPopular && !allMostPopular" class="row">
    <div class="col-lg-3 col-md-4 col-12" *ngFor="let restaurant of restaurantsgetallLeastPopular | Rfilter: 'title' | filter : search : ['title'] | filter : region : ['region'] | paginate: { itemsPerPage: 12, currentPage: p }">
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <div class="frame">
                        <img class="img-fluid imgSize" style="height: 170px;" src="{{restaurant['photo']?restaurant['photo']:default}}" alt="NO IMAGE AVAILABLE">              
                    </div>
                    <div class="frameTitle">
                    <h5 class="card-title">{{restaurant['title']}}</h5>
                    </div>
                    <div class="card-text components">
                        <p><b>{{restaurant['region']}}</b>, &nbsp;{{restaurant['rating']}}</p>
                        <p><span class="inCard">Cuisine : </span>{{restaurant['cuisine']}}</p>
                    </div>
                    <button [routerLink] = "['/restaurants/',restaurant.itemid]" [queryParams]="{q:restaurant['title']}" class="btn section-button">More Details</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 5%; margin-left: 30%;margin-bottom: 5%;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
 
<app-footer></app-footer>