span{
    color:  rgb(12, 12, 70);
    font-weight: bold;
}
img{
    margin-bottom: 3%;
	box-shadow: 10px 10px 5px rgb(199, 197, 197);
}
.container{
    margin-top: 5%;
}
p{
    font-size: 110%;
}
h1{
    color: rgb(61, 63, 62);
}
.line{
    width: 60px;
    background-color: rgb(189, 183, 183);
    text-align: center;
}
i{
    /* font-size: 100%; */
    color: #7e7a7a;
    margin-left: 5px;
}
h2{
    color: #353536;
}
::selection {
    background: #9cceeb; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #97cbe9; /* Gecko Browsers */
}   
    