
<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="container-gallery">
      <div class="popup popup-1">
          <img class="img-fluid" alt="Pop Up Gallety" src="./../../../assets/images/h.jpeg" />
      </div>
      <div class="popup popup-2">
          <img class="img-fluid" alt="Pop Up Gallety" src="./../../../assets/images/h1.jpeg" />
      </div>
      <div class="popup popup-3">
          <img class="img-fluid" alt="Pop Up Gallety" src="./../../../assets/images/h5.jpeg" />
      </div>
      <div class="popup popup-4">
          <img class="img-fluid" alt="Pop Up Gallety" src="./../../../assets/images/h3.jpeg" />
      </div>
      <div class="popup popup-5">
          <img class="img-fluid" alt="Pop Up Gallety" src="./../../../assets/images/h4.jpeg" />
      </div>
    </div>
  </div>
</div>

  <hr class="style-one">

<h2>Recommended For You</h2>
<!-- slider -->
<div id="container">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="recommendedHotels"
      [width]="850"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>
    <ng-template #prev>
      <img src="assets/images/left.png" id="left" />
    </ng-template>
    <ng-template #next>
      <img src="assets/images/right.png" id="right" />
    </ng-template>
    <ng-template #item let-item let-i="index">
   
    <div class="slide-items">
        <div class="frame">
            <img class="imgSize" src="{{item.imageURL}}">
        </div>
        <div class="frameTitle">
            <p><b> {{item.title}} </b></p>
        </div>
        <div class="components">
        <p><span class="inCard">Address:</span> {{item.address}} </p>
        <p><span class="inCard">Price Range:</span> {{item.priceRange}} </p>
        </div>
        <button class="btn btn-primary cardBtn" [routerLink] = "['/hotels/',item.itemid]">Read More</button>
     </div>
  </ng-template>
</div>
<hr class="style-one">

<!-- All Hotels-->
<h2>All Hotels</h2>
<div class="container">
    <input class="search col-3" name="search" [(ngModel)]="search" placeholder="Search"> 
    <span class="col-3" style="display:in-line;">&nbsp;&nbsp;</span>       
        <select id="region" [(ngModel)]="region" class="custom-select col-3">
            <option value="Cairo">Cairo</option>
            <option value="Ras Mohammed">Ras Mohammed</option>
            <option value="Hurghada">Hurghada</option>
            <option value="Marsa Alam">Marsa Alam</option>
            <option value="Luxor">Luxor</option>
            <option value="Aswan">Aswan</option>
            <option value="Sharm">Sharm El Sheikh</option>
            <option value="Alexandria">Alexandria</option>
            <option value="Dahab">Dahab</option>
            <option value="Giza">Giza</option>

            <option value="" >All</option>
        </select>
        <span class="col-3" style="display:in-line;">Filter By Region</span>
</div>

<div *ngIf="hotels" class="row">
    <div class="col-lg-3 col-md-4 col-6" *ngFor="let hotel of hotels | Rfilter: 'title' | filter : search : ['title'] | filter : region : ['region'] | paginate: { itemsPerPage: 12, currentPage: p }">
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <div class="frame">
                    <img class="img-fluid imgSize" style="height: 170px;" src="{{hotel['imageURL']?hotel['imageURL']:default}}" alt="NO IMAGE AVAILABLE">              
                    
                  </div>
                    <div class="frameTitle">
                    <h5 class="card-title">{{hotel['title']}}</h5>
                    </div>
                    <div class="card-text components">
                      <p><span class="inCard">Address:</span> {{hotel['address']}} </p>
                      <p><span class="inCard">Price Range:</span> {{hotel['priceRange']}} </p>
                    </div>
                    <button class="btn btn-primary cardBtn" [routerLink] = "['/hotels/',hotel.itemid]" [queryParams]="{q:hotel['title']}">Read More</button>
                    
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="paging">
    <div class="row">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
 
<app-footer></app-footer>